<html>
<head>
<h1>this is my blog</h1>
<p>This is <%=@owner.name%></p><br/>
<p>birthday date is <%=@owner.birthdate%></p><br/>
<p>my current city is <%=@owner.city%></p>
<h2>hey guys!</h2>
</head>
</html>